@import 'globals';
@import 'partials/settings';
@import 'foundation/components/grid';
@import 'partials/header';
@import 'partials/footer';

* {

  margin: 0;
  padding: 0;

}

body {

  height:100%;
  width:100%;
  position:absolute;
  background-color: #fff;
}

#mainViewContainer {


}