@import 'globals';
@import 'partials/settings';
@import 'foundation/components/grid';
@import 'partials/header';
@import 'partials/sidebar';
@import 'partials/mainContent';
@import 'partials/pipContainer';
@import 'partials/d3';
@import 'partials/footer';

* {

  margin: 0;
  padding: 0;

}

html {

  height: 100%;

}

body {

  height:100%;
  width:100%;
  position:absolute;
  background-color: #fff;

}

#mainViewContainer {

  height: 100%;

}

#contentContainer {

  height: 76%;

}

