<h1 id='about'>About</h1>

<div class="row">

  <div class="small-6 columns profile">

    <div class="headShot">
    <img src="../assets/boots.jpg"></div>
    <h3>Bryan Butteling</h3>
    <a ng-href='https://github.com/braddahboots'> <img class='aboutLinks' src="../assets/gitHub.png" alt="transportation"></a>
    <a ng-href='https://www.linkedin.com/in/bbutteling'><img class='aboutLinks' src="../assets/linkedin.png" alt="transportation"></a>
    <a ng-href='https://twitter.com/braddahboots'><img class='aboutLinks' src="../assets/twitter.png" alt="transportation"></a>

      <p class="profile-detail"> Born and raised within the Hawaii visitor market. Bryan "Boots" has been set on making a positive impact for the tourism industry through his love of technology. As a recent graduate of the DevLeague bootcamp and years of working within the Hawaii startup scene, Boots now looks to build on his skill set of being full stack javascript developer.</p>

    <div class="headShot">
    <img src="../assets/alex-profile.jpg"></div>
    <h3>Alex Anich</h3>
    <a ng-href='https://github.com/Anichale'> <img class='aboutLinks' src="../assets/gitHub.png" alt="transportation"></a>
    <a ng-href='https://www.linkedin.com/in/alexander-anich-16883753'><img class='aboutLinks' src="../assets/linkedin.png" alt="transportation"></a>
    <a ng-href='https://twitter.com/AnichAlex'><img class='aboutLinks' src="../assets/twitter.png" alt="transportation"></a>

      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ornare felis ac elementum cursus. Nam dictum mauris vitae nisl lobortis congue. Quisque sed auctor justo. Curabitur sed feugiat metus. Morbi sit amet risus ultrices eros placerat commodo.</p>

  </div>

  <div class="small-6 columns profile">

    <div class="headShot">
    <img src="../assets/brock-profile.jpg"></div>
    <h3>Brock Lanoza</h3>
    <a ng-href='https://github.com/brockinit'> <img class='aboutLinks' src="../assets/gitHub.png" alt="transportation"></a>
    <a ng-href='https://www.linkedin.com/profile/view?id=ADEAAAVSLOIBAGlZg1ZVvK4v-ZtQJFamzNd0BdI&authType=NAME_SEARCH&authToken=3naA&locale=en_US&srchid=1901821761448158096637&srchindex=1&srchtotal=1&trk=vsrp_people_res_name&goback='><img class='aboutLinks' src="../assets/linkedin.png" alt="transportation"></a>
    <a ng-href='https://twitter.com/brocklanoza'><img class='aboutLinks' src="../assets/twitter.png" alt="transportation"></a>

      <p class="profile-detail"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ornare felis ac elementum cursus. Nam dictum mauris vitae nisl lobortis congue. Quisque sed auctor justo. Curabitur sed feugiat metus. Morbi sit amet risus ultrices eros placerat commodo.  </p>

    <div class="headShot">
    <img src="../assets/bryanA.jpeg"></div>
    <h3>Bryan Alexander</h3>
    <a ng-href='https://github.com/evermuse'> <img class='aboutLinks' src="../assets/gitHub.png" alt="transportation"></a>
    <a ng-href='https://www.linkedin.com/in/balexander'><img class='aboutLinks' src="../assets/linkedin.png" alt="transportation"></a>
    <a ng-href='https://twitter.com/evermuse'><img class='aboutLinks' src="../assets/twitter.png" alt="transportation"></a>

      <p class="profile-detail"> The last of six kids, Bryan was raised on a farm in rural North Dakota. After graduating from UC Berkeley in 2008 with a BA in Psychology, he worked for six years in Silicon Valley in customer success, technical support, and quality assurance roles before deciding to attend DevLeague and transition his career into software development. </p>

  </div>

</div>


