<!-- containing row for the c3 island charts -->
<div id='c3row' ng-init='showGraph()'>

<!-- c3 chart for Oahu -->
<div class='small-4 columns'>
  <div class='box'>
  <h5>Oahu</h5>
  <div ng-model='oahuChart' id='oahu'></div>
  </div>
</div>

<!-- c3 chart for Big Island -->
<div class='small-4 columns'>
  <div class='box'>
  <h5>Big Island</h5>
  <div ng-model='bigIslandChart' id='big'></div>
  </div>
</div>

<!-- c3 chart for Kauai -->
<div class='small-4 columns'>
  <div class='box'>
  <h5>Kauai</h5>
  <div ng-model='kauaiChart' id='kauai'></div>
  </div>
</div>

<!-- c3 chart for Maui -->
<div class='small-4 columns'>
  <div class='box'>
  <h5>Maui</h5>
  <div ng-model='mauiChart' id='maui'></div>
  </div>
</div>

<!-- c3 chart for Lanai -->
<div class='small-4 columns'>
  <div class='box'>
  <h5>Lanai</h5>
  <div ng-model='lanaiChart' id='lanai'></div>
  </div>
</div>

<!-- c3 chart for Molokai -->
<div class='small-4 columns'>
  <div class='box'>
  <h5>Molokai</h5>
  <div ng-model='molokaiChart' id='molokai'></div>
  </div>
</div>

<!-- c3 chart for Hawaii total -->

<div class='small-8 small-offset-4 centered columns'>
  <div class='boxL'>
  <h5>Statewide</h5>
  <div ng-model='totalChart' id='total'></div>
  </div>
</div>

</div>

