<!-- IMPORTANT section....holds multiple data visualizations  -->
<section id="mainContent">

<!-- island map directive -->
<island-map></island-map>
<section id="pipContainer">
<!-- <section id="pipContainer"> -->

<!-- bar chart directive -->
<!-- <island-bar-chart></island-bar-chart> -->

</section>

<nav id="mapNav">

  <!-- comments on purpose to avoid line break: https://css-tricks.com/fighting-the-space-between-inline-block-elements/-->

<!--begin expenditure icons-->
  <ul>
    <li title="Flights" class="tooltip"><img src="../assets/plane.svg" alt="flights">
      <p>${{Math.floor(collection[0].month.TOTAL.passengers)}}</p></li><!--
    --><li title="Spending" class="tooltip"><img src="../assets/dollar.svg" alt="spending">
      <p>${{Math.floor(collection[0].month.TOTAL.total)}}</p></li><!--
    --><li title="Lodging" class="tooltip"><img src="../assets/bed.svg" alt="lodging">
      <p>${{Math.floor(collection[0].month.TOTAL.lodging)}}</p></li><!--
    --><li title="Transportation" class="tooltip"><img src="../assets/car.svg" alt="transportation">
      <p>${{Math.floor(collection[0].month.TOTAL.transportation)}}</p></li><!--
    --><li title="Shopping" class="tooltip"><img src="../assets/creditcard.svg" alt="shopping">
      <p>${{Math.floor(collection[0].month.TOTAL.shopping)}}</p></li><!--
    --><li title="Food" class="tooltip"><img src="../assets/utensil.svg" alt="food">
      <p>${{Math.floor(collection[0].month.TOTAL.food)}}</p></li><!--
    --><li title="Entertainment" class="tooltip"><img src="../assets/tickets.svg" alt="entertainment">
      <p>${{Math.floor(collection[0].month.TOTAL.entertainment)}}</p></li>
  </ul>

</nav>

</section>