<!-- IMPORTANT section....holds multiple data visualizations  -->
<section id="mainContent">

<!-- button for expanding sidebar -->
<button ng-click="main.showHide()" class="vertical toggleViewButton">Mo Data</button>

<!-- island map directive -->
<island-map></island-map>
<section id="pipContainer">
<!-- <section id="pipContainer"> -->

<!-- bar chart directive -->
<!-- <island-bar-chart></island-bar-chart> -->

</section>

<nav id="mapNav">

  <!-- comments on purpose to avoid line break: https://css-tricks.com/fighting-the-space-between-inline-block-elements/-->

<!--begin expenditure icons-->
  <ul>
    <li><a href="" title="Spending" class="tooltip"><img src="../assets/dollar.svg" alt="spending"></a>
      <p>{{Math.floor(collection[0].month.TOTAL.total)}}</p></li><!--
    --><li><a href="" title="Flights" class="tooltip"><img src="../assets/plane.svg" alt="flights"></a>
      <p>{{Math.floor(collection[0].month.TOTAL.passengers)}}</p></li><!--
    --><li><a href="" title="Lodging" class="tooltip"><img src="../assets/bed.svg" alt="lodging"></a>
      <p>{{Math.floor(collection[0].month.TOTAL.lodging)}}</p></li><!--
    --><li><a href="" title="Transportation" class="tooltip"><img src="../assets/car.svg" alt="transportation"></a>
      <p>{{Math.floor(collection[0].month.TOTAL.transportation)}}</p></li><!--
    --><li><a href="" title="Shopping" class="tooltip"><img src="../assets/creditcard.svg" alt="shopping"></a>
      <p>{{Math.floor(collection[0].month.TOTAL.shopping)}}</p></li><!--
    --><li><a href="" title="Food" class="tooltip"><img src="../assets/utensil.svg" alt="food"></a>
      <p>{{Math.floor(collection[0].month.TOTAL.food)}}</p></li><!--
    --><li><a href="" title="Entertainment" class="tooltip"><img src="../assets/tickets.svg" alt="entertainment"></a>
      <p>{{Math.floor(collection[0].month.TOTAL.entertainment)}}</p></li>
  </ul>

</nav>

<!-- look to make moduler -->
<nav id="viewNav">

  <ul>
    <!--<li><button>Map</button></li>&lt;!&ndash;-->
    <!--&ndash;&gt;<li><button>Graph</button></li>-->
	  <li><a href="" title="Map View" class="tooltip"><img src="../assets/earth.svg" alt="map" ></a></li><!--
    --><li><a ng-href="/#/graph" title="Chart View" class="tooltip"><img src="../assets/chart.svg" alt="chart" ></a></li>
  </ul>

</nav>

</section>