<c3chart bindto-id='donut-plot1-chart'>
  <chart-column column-id='Other'
              column-values='100'
              column-type='donut'/>
  <chart-column column-id='Lodging'
              column-values='800'
              column-type='donut'/>
  <chart-column column-id='Shopping'
              column-values='1000'
              column-type='donut'/>
  <chart-column column-id='Transportation'
              column-values='150'
              column-type='donut'/>
  <chart-column column-id='Entertainment'
              column-values='600'
              column-type='donut'/>
  <chart-column column-id='Food'
              column-values='400'
              column-type='donut'/>
  <chart-donut title='Expenditures' width='60'/>
  <chart-events on-click-data='showClick(data)'/>
</c3chart>

<h4>{{collection[0].month.TOTAL.total}}</h4>

<!-- pull the values and name into a list underneath -->
<h4>{{ clicked.name }}</h4>
<h5>{{ clicked.value }}</h5>
<!-- food / entertainment / transportation / shopping / lodging / other -->