<section id="mainContent">

	<nav id="mapNav">

		<!-- comments on purpose to avoid line break: https://css-tricks.com/fighting-the-space-between-inline-block-elements/-->

    <!-- top bar expenditure icons. need to add clickable filters -->
		<ul>
			<li><a href="" title="Spending" class="tooltip"><img src="../assets/dollar.svg" alt="spending"></a>
				<p>$1000</p></li><!--
    --><li><a href="" title="Flights" class="tooltip"><img src="../assets/plane.svg" alt="flights"></a>
			<p>$1000</p></li><!--
    --><li><a href="" title="Lodging" class="tooltip"><img src="../assets/bed.svg" alt="lodging"></a>
			<p>$1000</p></li><!--
    --><li><a href="" title="Transportation" class="tooltip"><img src="../assets/car.svg" alt="transportation"></a>
			<p>$1000</p></li><!--
    --><li><a href="" title="Shopping" class="tooltip"><img src="../assets/creditcard.svg" alt="shopping"></a>
			<p>$1000</p></li><!--
    --><li><a href="" title="Food" class="tooltip"><img src="../assets/utensil.svg" alt="food"></a>
			<p>$1000</p></li><!--
    --><li><a href="" title="Entertainment" class="tooltip"><img src="../assets/tickets.svg" alt="entertainment"></a>
			<p>$1000</p></li>
		</ul>

	</nav>

  <!-- look to make moduler  -->
	<nav id="viewNav">

		<ul>
			<!--<li><button>Map</button></li>&lt;!&ndash;-->
			<!--&ndash;&gt;<li><button>Graph</button></li>-->
			<li><a ng-href="/#/" ng-click="main.showHide()" title="Map View" class="tooltip"><img src="../assets/earth.svg" alt="map" ></a></li><!--
    --><li><a href="" title="Chart View" class="tooltip"><img src="../assets/chart.svg" alt="chart" ></a></li>
		</ul>

	</nav>

<!-- does this need to be here anymore? -Beerock -->
	<c3-charts class="fullHeight"></c3-charts>

</section>



