<c3chart bindto-id='pie-plot1-chart'>
  <chart-column column-id='Food'
              column-values='$15'
              column-type='pie'/>
  <chart-column column-id='Entertainment'
              column-values='$20'
              column-type='pie'/>
  <chart-column column-id='Transportation'
              column-values='$15'
              column-type='pie'/>
  <chart-column column-id='Shopping'
              column-values='$15'
              column-type='pie'/>
  <chart-column column-id='Lodging'
              column-values='$30'
              column-type='pie'/>
  <chart-column column-id='Other'
              column-values='$5'
              column-type='pie'/>
  <chart-pie expand='true'/>
</c3chart>

<!-- food / entertainment / transportation / shopping / lodging / other -->