<section id="sidebar">

	<h2 id="sideTitle">Side Title</h2>

	<select id="originSelector" ng-init="model.region = options[0]" ng-model="model.region" ng-change="$ngc.filterBy('region', model.region)">
    <option value="total" selected="selected">Total</option>
		<option value="usWest">US West</option>
		<option value="usEast">US East</option>
		<option value="japan">Japan</option>
		<option value="canada">Canada</option>
	</select>

    <!-- insert individual data figures -->
  <!-- <h3 id="hawaiiTitle"> Hawaii Data Set </h3> -->
<!--   <h4 id="originTitle">Data Set:  Insert Here  </h4>
 -->
  <!-- insert graphs -->
  <!-- graph one - total pie chart of exp for state comparing all variables -->
  <!-- <pie-charts></pie-charts> -->
<select id="monthSelector" ng-init="model.month = options[0]" ng-model="model.month">
  <option value="TOTAL">Year</option>
  <option value="JAN">January</option>
  <option value="FEB">Februrary</option>
  <option value="MAR">March</option>
  <option value="APR">April</option>
  <option value="MAY">May</option>
  <option value="JUN">June</option>
  <option value="JUL">July</option>
  <option value="AUG">August</option>
  <option value="SEP">September</option>
  <option value="OCT">October</option>
  <option value="NOV">November</option>
  <option value="DEC">December</option>
</select>

<div ng-controller='DonutController' ng-init='showDonut()'>
  <button ng-click="donutLoad(model.month);">load data</button>
  <div id='donut'></div>
</div>

  <ul>Figures go here:
    <li>
       Total
       Food
       Entertainment
       Transportation
       Shopping
       Lodging
       Other
    </li>
  </ul>
  <!-- graph two - total pie chart of exp for selected island comparing all variables -->

</section>