<section id="sidebar">

	<h2 id="sideTitle">Side Title</h2>

	<select id="originSelector" name="origin">
		<option value="uswest">US West</option>
		<option value="useast">US East</option>
		<option value="japan">Japan</option>
		<option value="canada">Canada</option>
	</select>

    <!-- insert individual data figures -->
  <!-- <h3 id="hawaiiTitle"> Hawaii Data Set </h3> -->
<!--   <h4 id="originTitle">Data Set:  Insert Here  </h4>
 -->
  <!-- insert graphs -->
  <!-- graph one - total pie chart of exp for state comparing all variables -->
  <!-- <pie-charts></pie-charts> -->

  <donut-charts></donut-charts>

  <ul>Figures go here:
    <li>
       Total
       Food
       Entertainment
       Transportation
       Shopping
       Lodging
       Other
    </li>
  </ul>

  <!-- graph two - total pie chart of exp for selected island comparing all variables -->

</section>