@import 'globals';

#graphTitle {

  text-align: center;

}

h1 {

  display: inline-block;

}


#regionSelector1 {

 display: inline;
 background-position: 97% center;
 background-repeat: no-repeat;
 border: 1px solid #AAA;
 color: #555;
 font-size: 20px;
 overflow: hidden;
 padding: 5px 10px;
 text-overflow: ellipsis;
 white-space: nowrap;
 width: 145px;

}

#regionSelector2 {

 display: inline;
 background-position: 97% center;
 background-repeat: no-repeat;
 border: 1px solid #AAA;
 color: #555;
 font-size: 20px;
 overflow: hidden;
 padding: 5px 10px;
 text-overflow: ellipsis;
 white-space: nowrap;
 width: 145px;

}

#compareDiv {

  text-align: center;
  padding-top: 5px;

}


#graphNav {

  text-align: center;
  margin: 0 auto;
  padding: 5px 0px;
  box-sizing: border-box;
  z-index: 2;

  ul {

    box-sizing: border-box;

    li {

      display: inline-block;
      height: 35px;
      width: 35px;
      box-sizing: border-box;
      padding: 0 5px;
      margin: 0 28px;

    }

    img {

      height: 35px;
      width: 35px;

      &:active {

        border-bottom: 2px dashed #87CEFA;
        padding-bottom: 2px;

      }
    }

  }

}
