@import 'globals';

#graphTitle {

  text-align: center;

}

h1 {

  display: inline-block;

}


#regionSelector1 {

  display: inline;
  width: 100px;

}

#regionSelector2 {

  display: inline;
  width: 100px;

}

#compareDiv {

  margin: 0 auto;
  width:250px;
  padding-top: 5px;

}


#graphNav {

  text-align: center;
  margin: 0 auto;
  padding: 5px 0px;
  box-sizing: border-box;
  z-index: 2;

  ul {

    box-sizing: border-box;

    li {

      display: inline-block;
      height: 35px;
      width: 35px;
      box-sizing: border-box;
      padding: 0 5px;
      margin: 0 28px;

    }

    img {

      height: 35px;
      width: 35px;

      &:active {

        border-bottom: 2px dashed #87CEFA;
        padding-bottom: 2px;

      }
    }

  }

}

// animation is used for the graph.html
// hides the 'compare' selector for regions
//.animate-checked.ng-enter, .animate-checked.ng-leave {
//  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
//}

//.animate-checked.ng-enter,
//.animate-checked.ng-leave.ng-leave-active {
//  opacity:0;
//}

//.animate-checked.ng-leave,
//.animate-checked.ng-enter.ng-enter-active {
//  opacity:1;
//}
