@import 'globals';

header {

  height: 12%;
  min-height: 100px;
  width: 100%;
  min-width: 480px;
  background-color: RGBA(238, 238, 238, 0.7);

  h1 {

    font-size: 40px;
    padding: 5px 0 0 10px;

    @media #{$small} {

      font-size: 24px;

    }

  }

  h5 {

    font-size: 14px;
    padding: 0 0 0 10px;

    @media #{$small} {

      font-size: 12px;
      padding: 20px 0 0 10px;

    }

  }

}
