@import 'globals';

#view-container {

  height: 100%;

}

#mainContent {

  height: 100%;
  min-width: 800px;
  position: relative;

}

#mapNav {

  bottom: 0;
  position: absolute;
  width: 200px;
  margin-bottom: 25px;
  padding: 0;
  box-sizing: border-box;
  z-index: 2;

  ul {

    position: absolute;
    box-sizing: border-box;
    bottom: 0;
    margin-left: 25px;
    list-style-type: none;
    z-index: 2;

    li {

      border-radius: 10px;
      background-color: RGBA(0, 0, 0, 0.1);
      height: 50px;
      width: 200px;
      box-sizing: border-box;
      padding: 5px 5px;
      margin: 10px 5px;
      z-index: 2;

      p {

        display: inline;
        font-size: 20px;
        width: 150px;
        height: 15px;
        box-sizing: border-box;
        vertical-align: middle;
        padding: 0 0 0 5px;
        z-index: 2;

      }


    }

    img {

      height: 40px;
      width: 40px;

    }

  }

}

#graphNav {

  width: 800px;
  margin: 0 auto;
  padding: 5px 5px;
  margin-left: -20px;
  box-sizing: border-box;
  z-index: 2;

  ul {

    box-sizing: border-box;

    li {

      display: inline-block;
      height: 40px;
      width: 50px;
      box-sizing: border-box;
      padding: 0 5px;
      margin: 0 30px;

      p {

        display: inline-block;
        width: 40px;
        height: 20px;
        box-sizing: border-box;
        font-size: 12px;
        text-align: center;

      }

    }

    img {

      height: 40px;
      width: 40px;

    }

  }

}
