@import 'globals';

#view-container {

  height: 100%;

}

#mainContent {

  height: 100%;
  min-width: 800px;
  position: relative;

}

.toggleViewButton {

  width: 100px;
  height: 25px;
  left: -38px;
  top: 40%;
  position: absolute;
  background: transparent;
  border: 1px solid gray;
  border-top: none;
  z-index: 2;
  cursor: pointer;
  box-sizing: border-box;
  font-size: 16px;
  color: #111;

}

#mapNav {

  //width: 420px;
  position: absolute;
  width: 200px;
  margin: 0 auto;
  padding: 0px 0 0 0;
  box-sizing: border-box;
  bottom: 0px;
  z-index: 2;

  ul {

    position: absolute;
    box-sizing: border-box;
    bottom: 0px;
    list-style-type: none;
    z-index: 2;

    li {

      border-radius: 10px;
      background-color: RGBA(0, 0, 0, 0.1);
      height: 50px;
      width: 200px;
      box-sizing: border-box;
      padding: 5px 5px;
      margin: 5px 5px;
      z-index: 2;

      //h5 {
      //
      //  display: table-cell;
      //  vertical-align: top;
      //  text-align: right;
      //  height: 20px;
      //  width: 150px;
      //  line-height: 20px;
      //  padding-left: 5px;
      //  z-index: 3;
      //
      //}

      p {

        display: inline;
        font-size: 20px;
        width: 150px;
        height: 15px;
        box-sizing: border-box;
        vertical-align: middle;
        padding: 0 0 0 5px;
        z-index: 2;

      }


    }

    //a {
    //
    //  width: 40px;
    //  height: 40px;
    //
    //  &:active {
    //
    //    position: relative;
    //    top: 1px;
    //
    //  }

    //}

    img {

      height: 40px;
      width: 40px;

    }

  }

}

#viewNav {


  width: 140px;
  height: 50px;
  float: right;
  margin: 20px 20px 0 0;
  z-index: 2;
  box-sizing: border-box;

  ul {

    border-radius: 10px;
    background-color: RGBA(0, 0, 0, 0.1);
    list-style-type: none;
    z-index: 2;
    padding: 10px;
    box-sizing: border-box;

    li {

      display: inline-block;
      box-sizing: border-box;
      //border: 1px solid black;
      padding: 0 5px;
      z-index: 2;

      &:last-child {

        border-left: none;

      }

    }

    a {

      width: 50px;
      height: 50px;
      z-index: 2;

      &:active {

        position: relative;
        top: 1px;
        z-index: 2;

      }

    }

    img {

      height: 50px;
      width: 50px;
      z-index: 2;

    }

  }

  button {

    border: none;
    background: transparent;
    cursor: pointer;
    height: 50px;
    width: 50px;
    box-sizing: border-box;
    font-size: 12px;

    &:active {

      position: relative;
      top: 1px;

    }

  }

}
