@import 'globals';

#view-container {

  height: 100%;

}

#mainContent {

  height: 100%;
  min-width: 800px;
  position: relative;

}

#mapTitle {

  text-align: center;
  color: $lightBlue;

}

#mapNav {
  bottom: 0;
  position: absolute;
  width: 500px;
  margin-left: 40px;
  margin-bottom: 34px;
  padding: 6px;
  padding-left: 19px;
  box-sizing: border-box;
  background-color: white;
  border: solid 1px silver;
  //box-shadow: 0px 3px 5px 1px silver;
  border-radius: 5px;
  z-index: 2;
  font-size: 15px;

  h4 {
    color: $darkBlue;
  }

  #left-expend {
    margin: auto;
    float: left;
    padding: 10px;
    list-style-type: none;
    z-index: 2;

    li {
      height: 50px;
      box-sizing: border-box;
      font-family: "Helvetica Neue", sans-serif;
      font-weight: 200;
      padding: 5px 5px;
      margin: 10px 5px;
      z-index: 2;

      p {

        display: inline-block;
        font-size: 16px;
        width: 150px;
        height: 15px;
        box-sizing: border-box;
        vertical-align: middle;
        padding: 0 0 0 5px;
        z-index: 2;

      }


    }

    img {

      height: 40px;
      width: 40px;
      text-align: center;

    }

  }

    #right-expend {
    margin: auto;
    padding: 10px;
    list-style-type: none;
    z-index: 2;
    float: right;

    li {
      height: 50px;
      font-family: "Helvetica Neue", sans-serif;
      font-weight: 200;
      box-sizing: border-box;
      padding: 5px 5px;
      margin: 10px 5px;
      z-index: 2;

      p {

        display: inline-block;
        font-size: 16px;
        width: 150px;
        height: 15px;
        box-sizing: border-box;
        vertical-align: middle;
        padding: 0 0 0 5px;
        z-index: 2;

      }


    }

    img {

      height: 40px;
      width: 40px;
      text-align: center;

    }

  }

}

.selectedContent {

  border-radius: 10px;
  margin: 25px 0 0 25px;
  box-sizing: border-box;
  background-color: RGBA(0, 0, 0, 0.1);
  height: 50px;
  z-index: 2;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  line-height: 50px;

}

#originSelector {
     background-position: 97% center;
     background-repeat: no-repeat;
     border: 1px solid #AAA;
     color: #555;
     font-size: 20px;
     overflow: hidden;
     padding: 5px 10px;
     text-overflow: ellipsis;
     white-space: nowrap;
     width: 145px;
}

