@import 'globals';

sidebar {

  height: 100%;
  background-color: #fff;
  border-left: 1px solid gray;
  padding: 10px;

  h2 {

    padding: 5px 0 0 10px;

  }

  #donut {
    margin-right: 15px;
  }

  #month {
    text-align: center;
  }

  .small-12 {
    padding: 10px;
    text-align: center;

  }
  .small-6 {
    padding: 10px;
    text-align: center;

  }

}
